@media(min-width: 1024px) and (max-width: 2000px) {

    #language-selector {
        padding: 8px;
        font-size: 22px;
        cursor: pointer;
    }

    /* Estilo para a lista suspensa de idiomas */
    #language-selector select {
        font-size: 20px;
    }

    #timezone {
        margin-top: 65px;
    }

    #timezone h2 {
        font-size: 28px;
    }

    select {
        font-size: 22px;
        /* Tamanho da fonte */
        padding: 7px;
        /* Espaçamento interno */
        width: auto;
        /* Redimensionar automaticamente de acordo com o texto */
        max-width: 100%;
        /* Largura máxima */
    }

    #clockContainer {
        position: relative;
        margin: auto;
        height: 28vw;
        /*to make the height and width responsive*/
        width: 28vw;
        background-size: 100%;
    }

    .clock-digital {
        font-family: 'Times New Roman', Times, serif;
        font-size: 34px;
        text-align: center;
        margin-top: 20px;
        background-color: #333;
        color: #fff;
        padding: 10px;
        border-radius: 15px;
    }
}
