@media(min-width: 2001px) {

    #language-selector {
        padding: 10px;
        font-size: 50px;
        cursor: pointer;
    }

    /* Estilo para a lista suspensa de idiomas */
    #language-selector select {
        font-size: 40px;
    }

    #timezone {
        margin-top: 130px;
        margin-bottom: 20px;
    }

    #timezone h2 {
        font-size: 55px;
    }

    select {
        font-size: 40px;
        /* Tamanho da fonte */
        padding: 25px 5px;
        /* Espaçamento interno */
        width: auto;
        /* Redimensionar automaticamente de acordo com o texto */
        max-width: 100%;
        /* Largura máxima */
    }

    #clockContainer {
        position: relative;
        margin: auto;
        height: 30vw;
        /*to make the height and width responsive*/
        width: 30vw;
        background-size: 100%;
    }

    .clock-digital {
        font-family: 'Times New Roman', Times, serif;
        font-size: 100px;
        text-align: center;
        margin-top: 20px;
        background-color: #333;
        color: #fff;
        padding: 10px;
        border-radius: 15px;
    }
}
